{% comment %}
  Collection Slider Section
  - Displays products from a selected collection in a slider format
  - Editable title and collection selection
{% endcomment %}

<div id="section-{{ section.id }}" class="site-box-container container--fullscreen box--can-stick box--collection-slider" style="border:none">

  {% if section.settings.show_title %}
  <div class="site-box box--big lap--box--small-fl-auto box--typo-big box--center-align box--top-align-if-first box--column-flow box__heading" data-order="0">
    <div class="site-box-content reduce-top-margin-if-first">
      <div>
        <h2 class="title h1">{{ section.settings.collection_title }}</h2>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="site-box box--big lap--box--bigger box--typo-big box--center-align box--column-flow box--no-padding box__collection" data-order="1">
    <div>
      <css-slider data-options='{"selector": ".collection-slider-product-item", "navigation": false, "autoHeight": true, "watchCSS": true}' 
                  class="content-slider-mobile css-slider--simple-dots" 
                  style="display:block">
        
        {% if section.settings.collection != blank %}
          {% assign collection = collections[section.settings.collection] %}
          {% assign product_limit = section.settings.products_to_show %}
          
          {% for product in collection.products limit: product_limit %}
            <div class="site-box-content collection-slider-product-item product-holder">
              <div class="product-item style--one alt color--light lap--box--small-lg {% if product.images.size > 1 %}with-secondary-image{% endif %}" 
                   data-js-product-item="" 
                   data-handle="{{ product.handle }}">

                <a href="{{ product.url }}" 
                   title="{{ product.title }}" 
                   class="product-item__special-link">
                  {{ product.title }}
                </a>

                {%- if product.featured_image -%}
                  <div class="box--product-image primary" style="padding-top: 149.9999250000375%">
                    <img src="{{ product.featured_image | img_url: '640x' }}" 
                         alt="{{ product.title }}"
                         srcset="{{ product.featured_image | img_url: '360x' }} 360w,
                                 {{ product.featured_image | img_url: '640x' }} 640w,
                                 {{ product.featured_image | img_url: '840x' }} 840w,
                                 {{ product.featured_image | img_url: '1080x' }} 1080w"
                         sizes="(max-width: 768px) 80vw, (max-width: 1024px) and (orientation: portrait) 80vw, 50vw"
                         loading="lazy"
                         class="lazy lazyloaded">
                  </div>
                {%- endif -%}

                {%- if product.images[1] -%}
                  <div class="box--product-image secondary" style="padding-top: 149.9999250000375%">
                    <img src="{{ product.images[1] | img_url: '640x' }}" 
                         alt="{{ product.title }}"
                         srcset="{{ product.images[1] | img_url: '360x' }} 360w,
                                 {{ product.images[1] | img_url: '640x' }} 640w,
                                 {{ product.images[1] | img_url: '840x' }} 840w,
                                 {{ product.images[1] | img_url: '1080x' }} 1080w"
                         sizes="(max-width: 768px) 80vw, (max-width: 1024px) and (orientation: portrait) 80vw, 50vw"
                         loading="lazy"
                         class="lazy lazyloaded">
                  </div>
                {%- endif -%}

                <div class="caption">
                  <div>
                    <span class="title">
                      <span class="underline-animation">{{ product.title }}</span>
                    </span>
                    <span class="price text-size--smaller">
                      <span style="display:flex;flex-direction:row">
                        {% if product.compare_at_price > product.price %}
                          <span class="money">{{ product.price | money }}</span>
                          <del><span class="money">{{ product.compare_at_price | money }}</span></del>
                        {% else %}
                          <span class="money">{{ product.price | money }}</span>
                        {% endif %}
                      </span>
                    </span>
                  </div>
                </div>

                {%- if product.metafields.reviews.rating.value -%}
                  <span class="product-badge left rating text-size--smallest" 
                        data-desktop-display="hover" 
                        data-mobile-display="true" 
                        style="background-color: #ffffff; color: #000000; border-color: #e7e7e7">
                    <span class="visually-hidden">Rating: {{ product.metafields.reviews.rating.value }} out of 5</span>
                    <span class="rating-text" aria-hidden="true">
                      {{ product.metafields.reviews.rating.value }} / 5
                    </span>
                    <span class="rating-icon" aria-hidden="true">
                      <svg class="icon icon-star" width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.50006 0.353271L9.07166 5.19015H14.1575L10.043 8.17951L11.6146 13.0164L7.50006 10.027L3.38556 13.0164L4.95716 8.17951L0.842665 5.19015H5.92846L7.50006 0.353271Z" fill="#000000"></path>
                      </svg>
                    </span>
                  </span>
                {%- endif -%}

              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="site-box-content">
            <p style="text-align: center; padding: 2rem;">Please select a collection in the theme editor.</p>
          </div>
        {% endif %}

      </css-slider>
    </div>
  </div>

</div>

<style>
  #section-{{ section.id }} .product-item {
    position: relative;
    display: block;
  }
  
  #section-{{ section.id }} .box--product-image {
    position: relative;
    overflow: hidden;
  }
  
  #section-{{ section.id }} .box--product-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #section-{{ section.id }} .caption {
    padding: 1rem 0;
  }
</style>

{% schema %}
{
  "name": "Collection Slider",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show Title",
      "default": true
    },
    {
      "type": "text",
      "id": "collection_title",
      "label": "Collection Title",
      "default": "KIDS"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 3,
      "max": 20,
      "step": 1,
      "label": "Products to Show",
      "default": 6
    }
  ],
  "presets": [
    {
      "name": "Collection Slider"
    }
  ]
}
{% endschema %}